.board .tile {
    font-size: 42px;
    height: 110px;
    line-height: 110px;
    position: absolute;
    text-align: center;
    width: 80px;
    z-index: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}